.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.containerImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
}

.title {
  color: var(--colorDark);
  font-family: Ferry;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: left;
  max-width: 817px;
  margin: 25px 0;
}

.subTitle {
  color: var(--colorDark);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  text-align: left;
}

.imgDocument {
  width: 91px;
  height: 111px;
}

.imgFolders {
  width: 140px;
  height: 68px;
}

.imgRocket {
  width: auto;
  height: auto;
  margin-left: 80px;
}
@media (max-width: 1549px) {
  .container {
    width: 90%;
    flex-direction: column;
  }
  .imgFolders {
    display: none;
  }

  .imgDocument {
    display: none;
  }
  .title {
    font-size: 28px;
    font-weight: 900;
    line-height: 34px;
    max-width: 350px;
  }
  .subTitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    max-width: 350px;
  }
  .imgRocket {
    position: relative;
    top: 2px;
    width: 100%;
    height: auto;
    margin-left: 10px;
  }
}
