.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 35px 0;
  max-width: var(--maxWidth);
}

.img {
  width: 90%;
  height: auto;
}
@media (max-width: 1549px) {
  .img {
    width: 100%;
    height: auto;
    max-width: 375px;
  }
  .container {
    padding: 0;
  }
}
