.button {
  border: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--colorTealLight);
  color: var(--colorDark);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.button:hover {
  background-color: var(--colorTeal);
  color: #fff;
}
