.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.containerImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--colorDark);
  font-family: Ferry;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: left;
  max-width: 817px;
  margin: 25px 0;
}
.titleSmall {
  color: var(--colorDark);
  font-family: Ferry;
  font-size: 30px;
  font-weight: 900;
  line-height: 48px;
  text-align: left;
  max-width: 817px;
  margin: 25px 0;
}
.subTitle {
  color: var(--colorDark);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  text-align: left;
}
.noResultsTitle {
  color: var(--colorDark);
  font-family: Ferry;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: left;
  max-width: 817px;
  margin: 25px 0;
}

.buttonBack {
  width: 305px;
  background: var(--colorBlue);
  color: var(--colorWhite);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 15px 40px;
  border: 0;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: auto;
  margin-bottom: 100px;
}

.buttonBack:hover {
  background-color: var(--colorOrange);
  color: var(--colorDark);
}
